.web-hv-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.web-hv-end{
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}

.web-h-center {
  display: flex !important;
  justify-content: center !important;
}
.web-wrap-flex{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.web-h-start {
  display: flex !important;
  justify-content: flex-start !important;
}
.web-hv-start {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center;
}

.web-h-end {
  display: flex !important;
  justify-content: flex-end !important;
}

.web-h-between {
  display: flex !important;
  justify-content: space-between !important;
}
.web-an-bet{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}
.web-an-around{
  display: flex !important;
  justify-content: space-around !important;
  align-items: center;
}

.web-h-around {
  display: flex !important;
  justify-content: space-around !important;
}

.web-v-center {
  display: flex !important;
  align-items: center !important;
}

.web-v-start {
  display: flex !important;
  align-items: flex-start !important;
}

.web-v-end {
  display: flex !important;
  align-items: flex-end !important;
}