.web-font-8px {
  font-size: 8px !important;
}

.web-font-10px {
  font-size: 10px !important;
}

.web-font-12px {
  font-size: 12px !important;
}

.web-font-14px {
  font-size: 14px !important;
}

.web-font-16px {
  font-size: 16px !important;
}

.web-font-18px {
  font-size: 18px !important;
}

.web-font-20px {
  font-size: 20px !important;
}

.web-font-22px {
  font-size: 22px !important;
}

.web-font-24px {
  font-size: 24px !important;
}

.web-font-28px {
  font-size: 28px !important;
}

.web-font-32px {
  font-size: 32px !important;
}

.web-font-36px {
  font-size: 36px !important;
}

.web-font-40px {
  font-size: 40px !important;
}

.web-font-42px {
  font-size: 42px !important;
}

.web-font-44px {
  font-size: 44px !important;
}

.web-font-48px {
  font-size: 48px !important;
}

.web-font-64px {
  font-size: 64px !important;
}

.web-font-72px {
  font-size: 72px !important;
}

.web-font-80px {
  font-size: 80px !important;
}