.web-relative{
  position: relative !important;
}

.web-absolute{
  position: absolute !important;
}

.web-center {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.web-xy-center {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.web-x-center {
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.web-y-center {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.web-t-0 {
  top: 0px !important;
}

.web-t-1 {
  top: 4px !important;
}

.web-t-2 {
  top: 8px !important;
}

.web-t-3 {
  top: 12px !important;
}

.web-t-4 {
  top: 16px !important;
}

.web-t-8 {
  top: 32px !important;
}

.web-t-9 {
  top: 36px !important;
}

.web-t-10 {
  top: 40px !important;
}

.web-t-11 {
  top: 44px !important;
}

.web-t-12 {
  top: 48px !important;
}

.web-r-0 {
  right: 0px !important;
}

.web-r-1 {
  right: 4px !important;
}

.web-r-2 {
  right: 8px !important;
}

.web-r-3 {
  right: 12px !important;
}

.web-r-4 {
  right: 16px !important;
}

.web-r-5 {
  right: 20px !important;
}

.web-r-6 {
  right: 24px !important;
}

.web-r-7 {
  right: 28px !important;
}

.web-r-8 {
  right: 32px !important;
}

.web-r-9 {
  right: 36px !important;
}

.web-r-10 {
  right: 40px !important;
}

.web-r-11 {
  right: 44px !important;
}

.web-r-12 {
  right: 48px !important;
}

.web-b-0 {
  bottom: 0px !important;
}

.web-b-1 {
  bottom: 4px !important;
}

.web-b-2 {
  bottom: 8px !important;
}

.web-b-3 {
  bottom: 12px !important;
}

.web-b-4 {
  bottom: 16px !important;
}

.web-b-8 {
  bottom: 32px !important;
}

.web-b-9 {
  bottom: 36px !important;
}

.web-b-10 {
  bottom: 40px !important;
}

.web-b-11 {
  bottom: 44px !important;
}

.web-b-12 {
  bottom: 48px !important;
}

.web-l-0 {
  left: 0px !important ;
}

.web-l-1 {
  left: 4px !important;
}

.web-l-2 {
  left: 8px !important;
}

.web-l-3 {
  left: 12px !important;
}

.web-l-4 {
  left: 16px !important;
}

.web-l-8 {
  left: 32px !important;
}

.web-z-index-10 {
  z-index: 10 !important;
}

.web-z-index-20 {
  z-index: 20 !important;
}

.web-z-index-30 {
  z-index: 30 !important;
}

.web-z-index-40 {
  z-index: 40 !important;
}

.web-z-index-50 {
  z-index: 50 !important;
}

.web-z-index-60 {
  z-index: 60 !important;
}

.web-z-index-70 {
  z-index: 70 !important;
}

.web-z-index-80 {
  z-index: 80 !important;
}

.web-z-index-90 {
  z-index: 90 !important;
}

.web-z-index-100 {
  z-index: 100 !important;
}