@import './box-flex.scss';
@import './box-overflow.scss';
@import './box-size.scss';
@import './box-style.scss';
@import './font-size.scss';
@import './text-style.scss';

// 盒子定位
@import './layout-position.scss';

// 文本溢出
@import './text-ellipsis.scss';

// 未分类样式
@import './misc.scss';


@import './resetAntDesignStyle.scss';

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}