// 鼠标变成手型
.web-pointer {
  cursor: pointer !important;
}

.web-disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.web-disable-events {
  pointer-events: none !important;
}
